* {
    margin: 0%;
    padding: 0%;
}

/* navbar */
.navbar {
    background-color:	#F5F5F5;
    text-align: left;
}
.navbar a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    background-color: #F5F5F5;
    transition: 0.5s;
}
.search-in-navbar {
    border-left: 1px solid #DCDCDC;
    position: relative;
    bottom: 14px;

}
.search-in-navbar:hover{
    color: #00008B;
    font-weight: bold;
}

.navbar-logo img {
    width: 60px;
}

